@tailwind base;
@tailwind components;
@tailwind utilities;
#root,
html,
body {
  height: 100%;
}
.cart{
  
  display: flex;
  justify-content: left;
  align-items: left;
}
.footer {
  clear: both;
  position: relative;
  /* height: 0px; */
  margin-top: 1em;
}